            /* ENTIRE SCREEN */
.About_Me_Screen {
    position: relative;
    width: 100%;
    height: 100%;
}

            /* Banner section*/
.Banner {
    width: 100%;
    height: 100%;
}
    .banner_img {
        width: 100%;
        height: 100%;
    }

            /* Resume section*/
.Resume {
    position: absolute;
    width: 50%;
    height: 106%;
}
    .Principal_data {
        margin-top: 3%;
        margin-left: 22%;
    }
        .name {
            text-transform: uppercase;
            font-size: 180%;
            font-weight: bold;
        }
        .job {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 100%;
            font-weight: lighter;
            color: #777
        }
        .avatar {
            margin-top: 2%;
            width: 65%;
        }
    .Contact_data {
        margin-top: 4%;
        margin-left: 22%;
    }
        .contact_data {
            text-transform: uppercase;
            font-size: 130%;
            font-weight: bold;
            color: #92B7BD;
        }
        .contact_data_info {
            font-size: 100%;
            color: #474B4E;
            font-family: Arial, Helvetica, sans-serif;
        }
    .Abilities_data {
        margin-top: 4%;
        margin-left: 22%;  
    }
        .abilities_data {
            text-transform: uppercase;
            font-size: 130%;
            font-weight: bold;
            color: #92B7BD; 
        }
        .abilities_data_info {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 100%;
            color: #474B4E;
        }
        
            /* About Me section*/
.About_Me {
    position: absolute;
    width: 50%;
    height: 106%;
    margin-left: 50%;
}
    .About_me_principal_info {
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 15%;
    }
        .About_Me_Title {
            text-transform: uppercase;
            font-size: 130%;
            font-weight: bold !important;
            color: #92B7BD;
        }
            .About_Me_text {
                font-size: 110% !important;
                color: #474B4E !important;
                font-family: Arial, Helvetica, sans-serif;

            }
    .About_me_Academic_info {
        margin-top: 5%;
        margin-left: 5%;
    }
        .About_Me_Studies{
            text-transform: uppercase;
            font-size: 130%;
            font-weight: bold !important;
            color: #92B7BD;
        }
            .academic_title {
                opacity: 0.8 !important;
                text-transform: uppercase !important;
                font-size: 110% !important;
                font-weight: bold !important;
                color: black !important;
            }
            .academic_text {
                font-size: 110% !important;
                margin-left: 2% !important;
                color: #474B4E !important;
                font-family: Arial, Helvetica, sans-serif;
            }
    .Skills {
        margin-top: 5%;
        margin-left: 5%;
    }
        .skills_title{
            text-transform: uppercase;
            font-size: 130%;
            font-weight: bold !important;
            color: #92B7BD;
        }
            .skills_languages{
                font-size: 110% !important;
                color: #474B4E !important;
            }
            .skills_text {
                font-size: 110% !important;
                color: #474B4E !important;
                font-family: Arial, Helvetica, sans-serif;   
                margin-left: 5%;   
            }
            .skills_technologies{
                font-size: 110% !important;
                margin-left: 2%;
                color: #474B4E !important;
            }
            .skills_sistemas{
                font-size: 110% !important;
                margin-left: 2%;
                color: #474B4E !important;
            }
    .Languages{
        margin-top: 5%;
        margin-left: 5%; 
    }
        .languages_title {
            text-transform: uppercase;
            font-size: 130%;
            font-weight: bold !important;
            color: #92B7BD;
        }
        .languages_text {
            font-size: 110% !important;
            margin-left: 2%;
            color: #474B4E !important;
        }